/*bookstore css*/

body {
  font-family: "Slabo 27px", serif;
  background-color: grey;
}

.header {
  font-family: "Special Elite", cursive;
  /* border-style: thin; */
  /* background-image: url(../img/Wall_of_Books_321.jpg); */
  height: 80px;
}

.siteName {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  align-self: center;
  text-align: center;
}

/*searchbox*/
.searchBar {
  display: flex;
  justify-content: flex-end;
  font-family: "Slabo 27px", serif;
}

/* Style the search field */
form input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid lightgrey;
  float: left;
  width: 80%;
  background-color: aliceblue;
}

/* Style the submit button */
form button {
  float: right;
  width: 20%;
  padding: 5px;
  background: cadetblue;
  color: white;
  font-size: 17px;
  border: 1px solid lightgrey;
  border-left: none;
}

form button:hover {
  background: aquamarine;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*MIDSECTION */
#midsection {
  /* overflow-y: scroll; */
  /* border-style: thin; */
  /* padding-left: 20px; */
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#midsection img {
  width: 200px;
  height: 300px;
}

.filterme {
  margin: 10px;
}

/*hover flip transform*/
.flipme {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.flipme_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* hover & rotate */
.flipme:hover .flipme_inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.thebooks,
.backofbooks {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the back side */
.backofbooks {
  background-color: lightgrey;
  font-size: 14px;
  transform: rotateY(180deg);
  height: 100%;
  align-content: center;
  padding-top: 15px;
}

.morebtn {
  border-radius: 6px;
}
.morebtn:hover {
  background: aquamarine;
}

/*end of flip transform*/

.footer {
  padding: 15px;
  height: 35px;
}

/*after mid section*/
.aftermidsect {
  height: 20vh;
  overflow-y: scroll;
  padding: 0;
  /* border-style: inset; */
}

.aftermidsect,
h5 {
  font-family: "Special Elite", cursive;
  text-align: center;
}

.aftermidsect,
p {
  font-family: "Slabo 27px", serif;
}

.rightsect {
  background-image: url(../img/Wall_of_Books_321.jpg);
  border-style: inset;
}

.rightback {
  background-color: cadetblue;
  padding: 10px;
  margin: 10px;
}
.leftsect {
  background-color: aquamarine;
  border-style: thin;
  padding: 20px;
  text-align: center;
}

#bookspreview {
  display: flex;
  justify-content: space-around;
}
#bookspreview img {
  width: 90px;
  height: 100px;
  border-style: thin;
  border-color: aliceblue;
}
